<style type="text/css">
p {margin:0;}
</style>

<table style="width: 650px; border-collapse: collapse; border-spacing: 0;" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td style="width: 100.0000%; border: 1px solid #000000;">
				<img style="border: 0px solid black; width: 650px; height: 103px;" src="https://www.techpath.com.au/wp-content/uploads/2018/04/Email-Template-Header.jpg" alt="" width="650" height="103" border="0" />
			</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000000; padding: 13px; text-align: justify;">
				<p style="margin: 0cm; margin-bottom: .0001pt; font-size: 15px; font-family: 'Calibri',sans-serif;">Hi {{ email.name }},
				<br />
				<br />
				<span style="font-size: 15px; font-family: 'Calibri',sans-serif;">Thank you for lodging your support request with TechPath. Your request has been placed into our system with the following details:
					<br />
					<br />
				</span></p>
				<p style="margin-left: 30px; margin-bottom: 0.0001pt; font-size: 15px; font-family: Calibri, sans-serif;">
					<strong>Ticket #:</strong> {{ email.ticketid }}
					<br />
					<strong>Priority:</strong> {{ email.ticketpriority }}
					<br />
					<strong>Maximum Response Time:</strong> {{ email.ticketsla  }}
					<br />
					<strong>Summary:</strong> {{ email.ticketsummary  }}
				</p>
				<p style="margin: 0cm; margin-bottom: .0001pt; font-size: 15px; font-family: 'Calibri',sans-serif;">
					<br />
					Please refer to the following link for further details on our job priorities:
					<br />
					<a href="https://techpath.com.au/response-times/">https://techpath.com.au/response-times/
						<br />
						<br />
					</a></p>
				<p style="margin: 0cm; margin-bottom: .0001pt; font-size: 15px; font-family: 'Calibri',sans-serif;">
					If you wish to escalate your ticket, please advise TechPath as soon as possible. If you need to add information, please reply to this email keeping the ticket number in the subject.
					<br />
					<br />
					Use the Client Portal to create, update and track your tickets online:
					<br />
					<br />
				</p>
				<p style="margin: 0cm; margin-bottom: .0001pt; font-size: 15px; font-family: 'Calibri',sans-serif;" align="center">
					<a href="https://techpath.myportallogin.com.au/">
						<img style="display: block; margin-left: auto; margin-right: auto;" src="https://techpath.com.au/wp-content/uploads/2019/11/Client-Portal-Button.png" width="160" height="29" />
					</a>
				</p>
			</td>
		</tr>
		<tr>
			<td style="width: 100.0000%; border: 1px solid #000000;">
				<img style="border: 0px solid black; width: 650px; height: 100px;" src="https://www.techpath.com.au/wp-content/uploads/2018/04/Email-Template-Footer.jpg" alt="" width="650" height="100" border="0" />
			</td>
		</tr>
	</tbody>
</table>

