<table style="width: 650px; border-collapse: collapse; border-spacing: 0;" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td style="width: 100.0000%; border: 1px solid #000000;">
				<img style="border: 0px solid black; width: 650px; height: 103px;"
					src="https://www.techpath.com.au/wp-content/uploads/2018/04/Email-Template-Header.jpg"
					alt="" width="650" height="103" border="0" 
				/>
			</td>
		</tr>
		<tr>
			<td style="border: 1px solid #000000; padding: 13px; text-align: justify;">
				<p style="margin: 0cm; margin-bottom: .0001pt; font-size: 15px; font-family: 'Calibri',sans-serif;">
					Hi {{ email.name }},
				</p>
				<p style="margin: 0cm; margin-bottom: .0001pt; font-size: 15px; font-family: 'Calibri',sans-serif;">&nbsp;</p>
				<p style="margin: 0cm; margin-bottom: .0001pt; font-size: 15px; font-family: 'Calibri',sans-serif;">
					<span style="font-size: 15px; font-family: 'Calibri',sans-serif;">
						Thank you for lodging your support request with TechPath. Your request has been placed into our system with the following details:&nbsp;
					</span>
				</p>
				<p style="margin: 0cm; margin-bottom: .0001pt; font-size: 15px; font-family: 'Calibri',sans-serif;">&nbsp;</p>
				<p style="margin: 0cm 0cm 0.0001pt; font-size: 15px; font-family: Calibri, sans-serif; padding-left: 30px;">
					<strong>Ticket #:</strong> {{ email.ticketid }} <br /><strong> Priority:</strong> {{ email.ticketpriority }}
					<br />
					<strong>Maximum Response Time:</strong> {{ email.ticketsla  }}
					<br />
					<strong>Summary:</strong> {{ email.ticketsummary  }}
				</p>
				<p style="margin: 0cm 0cm 0.0001pt; font-size: 15px; font-family: Calibri, sans-serif; padding-left: 30px;">&nbsp;</p>
				<p style="margin: 0cm; margin-bottom: .0001pt; font-size: 15px; font-family: 'Calibri',sans-serif;">
					Please refer to the following link for further details on our job priorities:
				</p>
				<p style="margin: 0cm; margin-bottom: .0001pt; font-size: 15px; font-family: 'Calibri',sans-serif;">
					<a href="https://techpath.com.au/response-times/">https://techpath.com.au/response-times/</a>
				</p>
				<p style="margin: 0cm; margin-bottom: .0001pt; font-size: 15px; font-family: 'Calibri',sans-serif;">&nbsp;</p>
				<p style="margin: 0cm; margin-bottom: .0001pt; font-size: 15px; font-family: 'Calibri',sans-serif;">
					If you wish to escalate your ticket, please advise TechPath as soon as possible. If you need to add information, please reply to this email keeping the ticket number in the subject.
				</p>
				<p style="margin: 0cm; margin-bottom: .0001pt; font-size: 15px; font-family: 'Calibri',sans-serif;">&nbsp;</p>
				<p style="margin: 0cm; margin-bottom: .0001pt; font-size: 15px; font-family: 'Calibri',sans-serif;">
					You can now create, update and track your tickets online. To use our online system please visit
					<br />
					<a href="https://techpath.myportallogin.com.au/">https://techpath.myportallogin.com.au/</a>
					&nbsp;
				</p>
				<p style="font-family: Arial; font-size: x-small;">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width: 100.0000%; border: 1px solid #000000;">
				<img style="border: 0px solid black; width: 650px; height: 100px;" src="https://www.techpath.com.au/wp-content/uploads/2018/04/Email-Template-Footer.jpg" alt="" width="650" height="100" border="0" />
			</td>
		</tr>
	</tbody>
</table>
